.shortcut{
    height: 52px;
    background-color: #333333; 
}
.shortcut .wrapper{
    
    display: flex;
    /* 主轴对齐方式，在版心里调 */
    justify-content: flex-end;
    height: 52px;
}
.shortcut .wrapper ul{
    /* li中链接换行，要使li的父级ul  flex */
    display: flex;
    /* 要使li居中，直接给ul加行高 */
    line-height: 52px;
    
    
}
.shortcut li a{
    /* padding: 上下，左右 */
    padding: 0 15px;
    color: #FFFFFF;
    border-right: #FFFFFF 1px solid;
    font-size: 14px;
    
}
/* li的最后一个用li选择器 */
.shortcut li:last-child a{
    border-right: 0;

}
.shortcut li span{
    margin-left: 4px;
    vertical-align: middle;
}
.shortcut .login{
    color: #5EB69C;
}
.header{
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
    /* background-color: pink; */
}
/* 直接给icon加，给父类加 */
.header .icon{
    width: 200px;
    height: 88px;
}
.header .icon a{
    display: block;
    font-size: 0;
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
}
.header .search ul{
    margin-left: 41px;
    display: flex;
    line-height: 88px;
}
.header .search li{
    padding-right: 47px;
}
.header .search li a{
    padding: 10px 0;
    color: #333333;
    font-size: 16px;
}
.header .search li a:hover{
    color:#5EB69C;
    border-bottom: #5EB69C 2px solid;
}
.sousuolan{
    display: flex;
    margin-left: 28px;
    margin-top: 33px;
    margin-right: 45px;
    width: 170px;
    height: 34px;
    border-bottom: #F4F4F4 2px solid;
}
/* iconfont加. */
.sousuolan .iconfont{
    margin-right: 8px;
    font-size: 18px;

    color: #CCCCCC;
}
/* input有自带宽度，一般情况下，自带宽度生效，将宽设置为0，则flex：1生效 */
.sousuolan input{
    width: 0;
    flex: 1;
}
/* 控制placehoder要在input里面控制 */
.sousuolan input::placeholder{
    font-size: 16px;
    color: #CCCCCC;
}

.cart{
    margin-top: 32px;
    position: relative;
}
.cart .iconfont{
    font-size: 24px;
    color: #CCCCCC;
}
.cart i{
    position: absolute;
    top: 1px;
    /* 为了使数字向右边撑开，所以用left右对齐 */
    left: 15px;
    padding: 0 6px;
    height: 15px;
    background: #E26237;
    border-radius: 8px;
    font-size: 14px;
    color: #FFFEFE;
    line-height: 15px;
}
/* 通栏 */

.footer{
    height: 580px;
    background-color: #F5F5F5;
}
.footer .service{
    padding: 60px 0;
    height: 178px;
    border-bottom: 1px solid #E8E8E8;
}

.service ul{
    display: flex;
    justify-content: space-evenly;
}
.service li{
    display: flex;
    width: 190px;
    height: 58px;
}

.service li h5{
    margin-right: 20px;
    height: 58px;
    width: 58px;
    background-image: url(../images/sprite.png);
}

.service li p{
    font-size: 28px;
    line-height: 58px;

}
/* 第二个li里的h5 */
.service li:nth-child(2) h5{
    background-position: 0 -58px;
}

.service li:nth-child(3) h5{
    background-position: 0 -116px;
}

.service li:nth-child(4) h5{
    background-position: 0 -174px;
}

/* 帮助中心 */
.footer .help{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    height: 302.5px;


}
.help .left{
    display: flex;

}
.help .left dl{
    margin-right: 84px;
}

.help .left dl:last-child{
    margin-right: 0px;
}
.help .left dt{
    font-size: 18px;
    margin-bottom: 30px;
}

.help .left dd{
    margin-bottom: 10px;
}

.help .left dd a{
    color: #969696 ;

}
.help .left .iconfont{
    color: #5EB69C;
}

/* footer右边 */
.help .right ul{
    display: flex;

}
.help .right li:first-child{
    margin-right: 55px;
}

.help .right .pic{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.help .right p{
    color: #969696;
    text-align: center;
}
/* 版权区域 */
.copyright{
    text-align: center;
}
.copyright p{
    margin-bottom: 10px;
    color: #A1A1A1;
    font-size: 16px;
}
.copyright p a{
    margin: 0 5px;
    color: #A1A1A1;
}

/* banner区域 */
.banner .wrapper{
    position: relative;
    height: 500px;
    background-color: pink;
    overflow: hidden;
}
.banner .pic{
    display: flex;
    width: 3720px;
}

.banner .subnav{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
    
}
.banner .subnav li{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    width: 250px;
    height: 50px;
    line-height: 50px;
    /* background: pink; */
    color: #FFFFFF;
    /* 在整个li范围变成小手 */
    cursor: pointer;

}

.banner .subnav li a{
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 5px;
}

.banner .subnav li .classify{
    margin-right: 14px;
    font-size: 16px;

}

.banner .subnav li .iconfont{
    font-size: 14px;
}
.banner .subnav li:hover{
    background-color: #00BE9A;
}

/* 圆点指示器 */
.banner ol{
    display: flex;
    position: absolute;
    bottom: 17px;
    right: 16px;
}
.banner ol li{
    margin-left: 8px;
    width: 22px;
    height: 22px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 50%;
}

.banner ol i{
    margin: 4px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.banner ol .current{
    background-color: rgba(255, 255, 255, 0.5);
}
.banner ol .current i{
    background-color: #fff;
}

/* 新鲜好物 */
/* 标题公共样式 */
.title{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 42px;
    /* background-color: pink; */
}

.title .left{
    display: flex;
}

.title .left h3{
    font-size: 30px;
    margin-right: 35px;
}
.title .left p{
    align-self: flex-end;
    color: #A1A1A1;
}

.title .right .more{
    line-height: 42px;
    color: #A1A1A1;
}
.title .right .iconfont{
    margin-left: 10px;
}

/* 好物内容，公共样式 */
.bd ul{
    display: flex;
    justify-content: space-between;
}
.bd ul li{
    width: 304px;
    height: 404px;
    background-color: #EEF9F4;
}
.bd li .pic{
    width: 304px;
    height: 304px;
}
.bd li .txt{
    text-align: center;
}
.bd li h4{
    margin-top: 18px;
    margin-bottom: 8.5px;
    font-size: 20px;
}
.goods .bd li p{
    color: #AA2113;
}

.goods .bd p span{
    margin-left: 3px;
    font-size: 22px;
}

.recommand .bd li{
    background-color: #fff;
}
.recommand .bd h4{
    font-size: 20px;
}
.recommand .bd p{
    color: #A1A1A1;
}
/* 热门品牌区域 */
.brand{
    margin-top: 60px;
    height: 468px;
    background-color: #F5F5F5;
}
.brand .wrapper{
    height: 468px;
    /* background-color: pink; */
    overflow: hidden;
}
.brand .title{
    position: relative;
    margin-bottom: 40px;
}
.brand .button{
    position: absolute;
    display: flex;
    right: 0px;
    bottom: -25px;
}
.brand .button a{
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}
.brand .button .prev{
    margin-right: 12px;
    background-color: #ddd;
}
.brand .button .next{
    background-color: #00BE9A;
}
/* 人气推荐 */
.brand .bd li{
    width: 244px;
    height: 306px;
}

/* 生鲜 */
.fresh .title{
    margin-top: 60px;
    margin-bottom: 20px;
}
/* 标题右部公共部分 */
.title .right{
    display: flex;
}
.title .right ul{
    display: flex;
    margin-top: 10px;
    margin-right: 58px;
}
.title .right ul a{
    display: block;
    padding: 0 6px;
    height: 20px;
    margin-left: 6px;
    line-height: 20px;
    /* background-color: pink; */

}
.title .right ul .active{

    background-color: #00BE9A;
    color: #fff;
}
